@charset "utf-8";
@import './_variables.scss';

$menu-item-radius: 0px;
$menu-item-color: white;
$menu-item-hover-color: #595959;
$menu-item-active-background-color: #595959;
$family-primary: 'Roboto';

@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/components/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";
